@import "../../../scss/variables";

div {
  background-color: mat-color($mat-lime, 600);
  border-radius: $btn-border-radius;
  color: white;
  margin-bottom: 1em;
  padding: ($spacer / 4) $spacer;

  i {
    float: left;
    margin-right: .2em;
  }

  &.popup {
    @include material-shadow(4);
    cursor: pointer;
  }
}

.warning {
  background-color: mat-color($jgd-mat-accent, 400);
}

.error {
  background-color: mat-color($jgd-mat-error, 500);
}
