@import "../../../scss/variables";

div {
  background-color: $lime_600;
  border-radius: $btn-border-radius;
  color: white;
  margin-bottom: 1em;
  padding: ($spacer / 4) $spacer;

  i {
    float: left;
    margin-right: .2em;
  }

  &.popup {
    @include material-shadow(4);
    cursor: pointer;
  }
}

.warning {
  background-color: $accent_400;
}

.error {
  background-color: $red_500;
}
