<div *ngIf="!loading">
    <div class="card" *ngFor="let reservation of reservations">
        <button class="btn btn-flat" (click)="remove(reservation)">
            <i class="material-icon">delete</i>
        </button>
        <button class="btn btn-flat" (click)="navigateToEdit(reservation)">
            <i class="material-icon">edit</i>
        </button>
        <span>{{reservation.begin | date:"dd.MM.yy"}}</span>
        -
        <span>{{reservation.end | date:"dd.MM.yy"}}</span>
        <p>
            <span>{{reservation.user.name}}</span>:
            <span>{{reservation.name}}</span>
        </p>

        <jgd-simple-item-list [items]="reservation.items"></jgd-simple-item-list>
    </div>
</div>

<p *ngIf="!loading && (!reservations || reservations?.size === 0)">
    Keine aktuellen Reservierungen
</p>
