<jgd-nav-bar #footer jgdGlobalClick (globalClick)="onGlobalClick($event)"
             [class.open]="!toggled"
             [class.empty]="!enableToggle && !description">
    <button type="button" class="btn btn-accent btn-floating"
            (click)="submit()"
            [class.hide]="!showSubmit"
            [title]="submitTitle">
        <i class="material-icon">{{submitIcon}}</i>
    </button>
    <div *ngIf="enableToggle" (click)="toggle()" class="toggle">
        <i class="toggleIcon material-icon">keyboard_arrow_up</i>
        <span>{{toggled ? 'Öffnen': 'Schließen'}}</span>
    </div>
    <div *ngIf="description" class="description">{{description}}</div>
    <ng-content *ngIf="!toggled"></ng-content>
</jgd-nav-bar>
