@import "../../../scss/variables";
@import "variables";

jgd-nav-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: $footer-navbar-height;
  width: 100%;
  transition: height 100ms ease-in;

  .btn-floating {
    margin-top: -$footer-navbar-height;
    position: relative;
  }

  .toggle {
    cursor: pointer;
    margin-bottom: 1em;
  }

  .toggleIcon {
    float: left;
    transition: transform 100ms ease-in-out;
  }

  &.open {
    height: $footer-height-maximized;

    .toggleIcon {
      transform: rotate(180deg);
    }
  }
}
