@import "../../../scss/variables";
@import "variables";

jgd-nav-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: $footer-navbar-height;
  width: 100%;
  transition: height 200ms ease-in;

  .toggle, .description {
    margin-bottom: 1em;
  }

  .toggle {
    cursor: pointer;
  }

  .toggleIcon {
    float: left;
    transition: transform 100ms ease-in-out;
    transition-delay: 200ms;
  }

  .btn-floating.hide {
    bottom: calc(-54px - 40px);
  }

  &.empty {
    height: 0;
  }

  &.open {
    height: calc(100% - 54px);

    .toggleIcon {
      transform: rotate(180deg);
    }

    .btn-floating {
      bottom: calc(-54px - 40px);
    }
  }
}
