<div class="form-group">
    <label for="reservationDescription">Beschreibung der Ausfahrt</label>
    <input class="form-control" type="text" [(ngModel)]="reservation.name" id="reservationDescription"
           placeholder="Name der Ausfahrt">
</div>
<div class="form-group">
    <label for="reservationStart">Beginn der Reservierung</label>
    <input class="form-control" type="date" [(ngModel)]="reservation.begin" id="reservationStart">
</div>
<div class="form-group">
    <label for="reservationEnd">Ende der Reservierung</label>
    <input class="form-control" type="date" [(ngModel)]="reservation.end" id="reservationEnd">
</div>

<jgd-items #hackedItemsComponent [items]="items"
           (selected)="addToSelected($event)"
           (deselected)="removeFromSelected($event)">
</jgd-items>

<jgd-footer *ngIf="selected.size > 0"
            [submitIcon]="'add'"
            [submitTitle]="(selected.size > 1 ? 'Gegenstände ' : 'Gegenstand ') + 'hinzufügen'"
            [description]="selected.size + (selected.size > 1 ? ' Gegenstände ' : ' Gegenstand ') + 'ausgewählt'"
            (submitted)="addSelectedToReservation(); hackedItemsComponent.items = items;"></jgd-footer>

<jgd-footer class="hidden-sm-up"
            *ngIf="selected.size === 0 && reserved.size > 0"
            [submitIcon]="'save'"
            [submitTitle]="'Reservierung speichern'"
            [description]="reserved.size + (reserved.size > 1 ? ' Gegenstände ' : ' Gegenstand ') + 'in Reservierung'"
            (submitted)="saveReservation()"></jgd-footer>

<jgd-footer class="hidden-xs-down"
            *ngIf="selected.size === 0 && reserved.size > 0"
            [submitIcon]="'save'"
            [submitTitle]="'Reservierung speichern'"
            [description]="'Du hast bereits ' + reserved.size + (reserved.size > 1 ? ' Gegenstände ' : ' Gegenstand ') + 'hinzugefügt.'"
            (submitted)="saveReservation()"></jgd-footer>
