<div class="form-group">
    <label for="reservationDescription">Beschreibung der Ausfahrt</label>
    <input class="form-control" type="text" [(ngModel)]="reservation.name" id="reservationDescription"
           placeholder="Name der Ausfahrt">
</div>
<div class="form-group">
    <label for="reservationStart">Beginn der Reservierung</label>
    <input class="form-control" type="date" [(ngModel)]="reservation.begin" id="reservationStart">
</div>
<div class="form-group">
    <label for="reservationEnd">Ende der Reservierung</label>
    <input class="form-control" type="date" [(ngModel)]="reservation.end" id="reservationEnd">
</div>

<div>
    {{reserved.size}} Gegenstände reserviert
</div>

<jgd-items [items]="items" [addFilter]="true"
           (selected)="addToReserved($event)"
           (deselected)="removeFromReserved($event)">
</jgd-items>

<jgd-footer *ngIf="reserved.size > 0"
            [submitTitle]="'Reservierung speichern'"
            [description]="reservation.description"
            (submitted)="saveReservation()"></jgd-footer>
