<div class="form-group">
    <label for="reservationDescription">Beschreibung der Ausfahrt</label>
    <input class="form-control" type="text" id="reservationDescription" placeholder="Name der Ausfahrt"
           [(ngModel)]="reservation.name">
</div>
<div class="form-group">
    <label for="reservationStart">Beginn der Reservierung</label>
    <input class="form-control" type="date" id="reservationStart"
           [(ngModel)]="reservation.begin" [min]="minDateValue">
</div>
<div class="form-group">
    <label for="reservationEnd">Ende der Reservierung</label>
    <input class="form-control" type="date" id="reservationEnd"
           [(ngModel)]="reservation.end" [min]="minDateValue">
</div>

<jgd-items (selected)="onSelected($event)"
           (deselected)="onDeselected($event)">
</jgd-items>

<div *ngIf="state.selected.size > 0 || state.added.length > 0">
    <jgd-footer #footerComponent
                [enableToggle]="state.added.length > 0"
                [enableSubmit]="state.selected.size > 0"
                [submitIcon]="footerState.submitIcon"
                [submitTitle]="footerState.submitTitle"
                (submitted)="onFooterSubmit()">
        <div *ngIf="state.added.length > 0" class="card reserved-items">

            <jgd-ui-message *ngIf="!reservation.name"
                            [message]="reservationValidation.messages.invalidName"></jgd-ui-message>
            <p *ngIf="reservation.name">Ausfahrt: {{reservation.name}}</p>

            <jgd-ui-message *ngIf="!reservation.begin && !reservation.end"
                            [message]="reservationValidation.messages.invalidDate"></jgd-ui-message>
            <p *ngIf="reservation.begin && reservation.end">
                Zeitraum: {{reservation.begin | date:"dd.MM.yy"}} - {{reservation.end | date:"dd.MM.yy"}}
            </p>

            <p>{{footerState.description}}:</p>
            <!--jgd-simple-item-list [itemStacks]="reserved"></jgd-simple-item-list-->

            <button type="submit" class="btn btn-accent"
                    (click)="saveReservation()"
                    [disabled]="!reservation.isValid()">
                Reservierung speichern
            </button>
        </div>
    </jgd-footer>
</div>
