@import "../../../scss/variables";

// FIXME sharing design & structure with items.component.[html|scss]
.form-group {
  // FIXME calc from label + input line height
  height: 71px;
  margin-bottom: 1rem;

  label {
    display: block;
  }
  i {
    float: left;
  }
  input {
    float: right;
    // FIXME use variables for 36px (material icon font-size)
    width: calc(100% - 36px);
  }
}

li {
  display: block;
  margin: .5rem 0;

  .input-holder:first-child {
    padding-right: 0;
    .form-control {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .input-holder:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
    .form-control {
      border-radius: 0;
    }
  }
  .input-holder:nth-child(3) {
    padding-left: 0;
    .form-control {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

li:first-child {
  margin-top: 0;
}

.changed {
  .form-control {
    background-color: mat-color($jgd-mat-accent, 100);
    border-color: mat-color($jgd-mat-accent, 300);
    font-style: italic;
  }
}
