@import "../../../scss/variables";

ul {
  margin-top: 1em;

  li {
    border-bottom: 1px solid $grey_200;
    display: flex;
    align-items: baseline;
  }
}

input[name="itemCount"] {
  padding: .25em 0 .25em .25em;
  width: 2em;

  &[disabled] {
    opacity: .6;
  }
}

jgd-item-stack {
  border-radius: 1pt;
  cursor: pointer;
  margin-left: 2px;
  padding: .5em;
  transition: background-color 50ms ease-in-out;
  width: 100%;

  &:hover {
    background-color: $accent_100;
  }

  &.flagged {
    background-color: $accent_300;
  }
}


