@import "../../../scss/variables";

ul {
  margin-top: 1em;
  li {
    display: block;
  }
}

.count {
  padding: .25em .2em .25em 0;
  text-align: right;
  width: 1.5em;
}

.count, jgd-item {
  float: left;
  margin: 1px 0;
}

jgd-item {
  border-radius: 1pt;
  cursor: pointer;
  padding: .25em .5em;
  transition: background-color 50ms ease-in-out;
  width: calc(100% - 1.5em);

  &:hover {
    background-color: $accent_100;
  }

  &.flagged {
    background-color: $accent_300;
  }
}


