<div class="form-group">
    <label for="filter">Gegenstände auswählen</label>
    <i class="material-icon md-36">search</i>
    <input #filter (input)="filterChanged(filter.value)" class="form-control" type="search"
           id="filter" name="filter" placeholder="Auswahl">
</div>
<ul class="list-unstyled">
    <li *ngFor="let stack of filteredStacks">
        <input #i class="form-control" type="number" name="itemCount" min="1"
               [placeholder]="stack.blocked ? 0 : 1"
               [value]="stack.blocked ? 0 : 1"
               [max]="stack.availableItemCount"
               [disabled]="stack.availableItemCount <= 1"
               (input)="stackSelectedChanged(stack, $event.target.value)">
        <jgd-item-stack (click)="stack.blocked ? null : onClick(stack, $event)"
                        (tagClicked)="i.value = stack.availableItemCount"
                        [itemStack]="stack"
                        [class.flagged]="stack.flagged"
                        [class.disabled]="stack.blocked"></jgd-item-stack>
    </li>
</ul>
