@import "../../../scss/variables";

header {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  img {
    position: absolute;
  }

  .navbar-brand {
    color: white;
    margin-left: calc(38px + .5em);
  }

  .navHolder {
    display: flex;
    align-items: center;
    height: 38px;
  }

}
