@import "../../../scss/variables";

header {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  &.primary {
    background-color: mat-color($jgd-mat-primary, 700);
  }

  &.accent {
    background-color: mat-color($jgd-mat-accent, 700);
  }
}

.height-placeholder {
  margin-bottom: 1rem;
}