<header>
    <jgd-nav-bar>
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
            <img src="/assets/edelweiss.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Depot</a>

        <ul class="nav navbar-nav float-xs-right">
            <li jgdDropdown class="nav-item">
                <i class="material-icon" id="navDropdown"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more_vert</i>
                <div class="dropdown-menu" aria-labelledby="navDropdown">
                    <a *ngIf="userAuthStatus?.isRegistered"
                       class="nav-link" routerLink="/reservation/new" routerLinkActive="active">Neue Reservierung</a>
                    <a *ngIf="userAuthStatus?.hasAdminRole"
                       class="nav-link" routerLink="/admin/items/edit" routerLinkActive="active">Material Liste</a>
                </div>
            </li>
            <li class="nav-item" *ngIf="userAuthStatus?.isAuthorized">
                <i class="material-icon" (click)="logout()">power_settings_new</i>
            </li>
        </ul>
    </jgd-nav-bar>
</header>
