@import "../../../scss/variables";

header {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: $zindex-navbar-fixed;

  img {
    position: absolute;
  }

  a {
    color: white;
  }

  .navbar-brand {
    margin-left: calc(38px + .5em);
  }

  .navHolder {
    display: flex;
    align-items: center;
    height: 38px;
  }

  .nav, .nav-item {
    cursor: pointer;
  }

  i:hover {
    color: $accent_700;
  }

  .dropdown-menu {
    @include material-shadow(3);
    border: none;
    left: auto;
    margin: 0;
    margin-left: -130px;
    padding: .5em;

    a {
      color: black;
    }
  }
}
