@import "../../../scss/variables";

.form-group {
  // FIXME calc from label + input line height
  height: 71px;

  label {
    display: block;
  }
  i {
    float: left;
  }
  input {
    float: right;
    // FIXME use variables for 36px (material icon font-size)
    width: calc(100% - 36px);
  }
}

ul {
  margin-top: 1em;
  user-select: none;

  li {
    border-bottom: 1px solid $grey_200;
    display: flex;
    align-items: baseline;
  }
}

input[name="itemCount"] {
  padding: .25em 0 .25em .25em;
  width: 2em;

  &[disabled] {
    opacity: .6;
  }
}

jgd-item-stack {
  border-radius: 1pt;
  cursor: pointer;
  margin-left: 2px;
  padding: .5em;
  transition: background-color 50ms ease-in-out;
  width: 100%;

  &:hover:not(.disabled) {
    background-color: $accent_100;
  }

  &.flagged {
    background-color: $accent_300;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: .6;
  }
}


