<ul class="list-unstyled">
    <li *ngFor="let stack of filtered">
        <input #i class="form-control" type="number" name="itemCount" min="1"
               [placeholder]="stack.blocked ? 0 : 1"
               [value]="stack.blocked ? 0 : 1"
               [max]="stack.availableItemCount"
               [disabled]="stack.availableItemCount <= 1"
               (input)="stackSelectedChanged(stack, $event.target.value)">
        <jgd-item-stack (click)="stack.blocked ? null : onClick(stack, $event)"
                        (tagClicked)="i.value = stack.availableItemCount"
                        [itemStack]="stack"
                        [class.flagged]="stack.flagged"
                        [class.disabled]="stack.blocked"></jgd-item-stack>
    </li>
</ul>
