<p *ngIf="registeredUser" class="lead">Willkommen {{registeredUser.name}}.</p>

<jgd-ui-message *ngIf="registeredUser && !registeredUser.confirmed"
                [message]="messages.unconfirmedWarning"></jgd-ui-message>
<jgd-ui-message *ngIf="registeredUser && !registeredUser?.confirmed"
                [message]="messages.unconfirmedInfo"></jgd-ui-message>

<div *ngIf="registeredUser?.confirmed && unconfirmedUsers">

    <p *ngIf="unconfirmedUsers.size === 1">
        Es gibt einen neuen Benutzer. Bitte schalte Ihn frei sofern Du ihn kennst.
    </p>

    <p *ngIf="unconfirmedUsers.size > 1">
        Es gibt neue Benutzer. Bitte schalte die Benutzer frei die Du kennst.
    </p>

    <div class="row no-gutters">
        <div *ngFor="let user of unconfirmedUsers" class="card col-12 col-sm-6">
            <div class="card-block">
                <img *ngIf="user.photoUrl" [src]="user.photoUrl" [alt]="'Avatar von ' + user.name">
                <p>
                    <span>{{user.name}} ({{user.youthGroup}})</span><br/>
                    <small>Registriert seit: {{user.registered | date:'dd.MM.yy HH:mm'}}</small>
                </p>
                <button type="submit" class="btn jgd-btn-flat" (click)="confirmUser(user)">
                    <i class="material-icon">done</i>Freischalten
                </button>
            </div>
        </div>
    </div>
</div>
