@import "../../../../../scss/variables";

header {
  background-color: mat-color($jgd-mat-primary, 900);
  color: white;
  position: fixed;
}

label {
  font-size: 75%;
  opacity: .5;
  padding-left: $input-padding-x;
}

md-input-container {
  width: 100%;
}