<form [formGroup]="reservationForm" (ngSubmit)="saveReservation()">
    <jgd-header [color]="'accent'">
        <button md-button type="button" (click)="cancel()">
            <i class="material-icon">close</i>
        </button>
        <button md-button class="float-right" type="submit" [disabled]="reservationForm.pristine">
            Speichern
        </button>
        <input #nameInput type="text" formControlName="name" placeholder="Name der Ausfahrt"
               (keydown.enter)="moveFocus(beginDate, $event)">
    </jgd-header>

    <div class="form-group input-group">
        <i class="material-icon input-group-addon">date_range</i>
        <input #beginDate type="date" formControlName="begin" placeholder="Beginn der Reservierung"
               (keydown.enter)="moveFocus(endDate, $event)">
    </div>

    <div class="form-group jgd-align-with-input-group">
        <input #endDate type="date" formControlName="end" placeholder="Ende der Reservierung"
               (keydown.enter)="moveFocus(filter, $event)">
    </div>

    <div *ngIf="stacks">
        <div class="jgd-divider"></div>

        <div class="form-group input-group">
            <i class="material-icon input-group-addon">search</i>
            <input #filter type="search" placeholder="Gegenstände auswählen"
                   (input)="onFilterChanged(filter.value)"
                   (keydown.enter)="$event.preventDefault()">
        </div>

        <jgd-reservation-items #items [stacks]="stacks"></jgd-reservation-items>
    </div>
</form>
