<jgd-header *ngIf="showHeader">
    <button md-button disableRipple="true" (click)="toggleMenu()">
        <i class="material-icon">menu</i>
    </button>
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">JDAV Freiburg Depot</a>
</jgd-header>

<div *ngIf="loading" class="splash-container">
    <img class="splash-screen" src="/assets/mountain.svg" width="200" height="200">
</div>

<div class="cdk-overlay-container" [class.hide]="hideBackdrop">
    <div class="cdk-overlay-backdrop cdk-overlay-dark-backdrop"
         [class.cdk-overlay-backdrop-showing]="showNavigation" (click)="onBackdropClick()"></div>
    <div class="cdk-overlay-pane">
        <jgd-navigation jgdTransitionEnd (transitionEnd)="onTransitionEnd()"
                        [class.show]="showNavigation"></jgd-navigation>
    </div>
</div>

<div class="no-gutters">
    <div class="col-12 col-md-10 col-xl-8 offset-md-1 offset-xl-2">
        <jgd-ui-message *ngIf="showMessage"
                        [message]="message" [asPopup]="true"
                        (click)="hideMessage()"></jgd-ui-message>
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
