@import "../scss/variables";

jgd-header {
  display: block;
  height: 54px;
  margin-bottom: 1rem;
}

jgd-ui-message {
  position: absolute;
  right: $spacer;
  z-index: $zindex-popover;
}

.flagged {
  background-color: $accent_100;
}
