@import "../scss/variables";

jgd-header {

  img {
    position: absolute;
  }

  .navbar-brand {
    color: white;
  }

}

p {
  text-align: center;
}

jgd-ui-message .popup {
  position: absolute;
  right: $spacer;
  z-index: $zindex-popover;
}

jgd-navigation {
  background-color: white;

  position: absolute;
  left: -180px;
  top: 0;
  bottom: 0;

  transition-duration: 200ms;
  transition-timing-function: ease-in;

  &.show {
    transform: translate3d(180px, 0, 0);
  }
}

.cdk-overlay-pane {
  height: 100%;
}

.cdk-overlay-container {
  visibility: visible;
  &.hide {
    visibility: hidden;
  }
}


