@import "../../../scss/variables";
@import "variables";

.container-fluid {
  padding: 0;
}

nav {
  background-color: $primary_700;
  border-radius: 0;
  color: $navbar-color;
  height: 100%; // needed for usage in footer combined with `mobile-maximized` state
}
