@import "../../../scss/variables";

nav {
  background-color: mat-color($jgd-mat-primary, 700);
  border-radius: 0;
  color: white;
  height: 100%; // needed for usage in footer combined with `mobile-maximized` state

  padding: .5em;

  &.dark {
    background-color: mat-color($jgd-mat-primary, 900);
  }
}
