<div class="jgd-align-with-input-group">
    <ul class="list-unstyled">
        <li *ngFor="let stack of slicedStacks" [class.selected]="stack.selected">
            <md-checkbox disableRipple="true"
                         [disabled]="stack.blocked"
                         [checked]="stack.selected"
                         (change)="onClick(stack)"></md-checkbox>
            <jgd-item-stack (click)="onClick(stack, $event)"
                            (tagClicked)="i.value = stack.availableItemCount"
                            [itemStack]="stack"
                            [class.disabled]="stack.blocked"></jgd-item-stack>
            <input #i class="form-control" type="number" name="itemCount" min="1"
                   [placeholder]="stack.blocked ? 0 : 1"
                   [value]="stack.selectedCount"
                   [max]="stack.availableItemCount"
                   [disabled]="stack.availableItemCount <= 1"
                   (input)="onSelectedCountChanged(stack, $event.target.value)">
        </li>
    </ul>

    <div *ngIf="page" class="jgd-pager float-right">
        <span>{{(page - 1) * maxStacks + 1}} - {{total > maxStacks ? (page) * maxStacks : total}}
            <span *ngIf="total > maxStacks">von {{total}}</span>
        </span>
        <button [disabled]="page === 1" class="mat-button" (click)="showPage(page -1)">
            <i class="material-icon">navigate_before</i>
        </button>
        <button [disabled]="page === totalPages" class="mat-button" (click)="showPage(page + 1)">
            <i class="material-icon">navigate_next</i>
        </button>
    </div>
</div>