@import "../../../../../scss/variables";

ul {
  margin-top: 1em;
  margin-right: $grid-gutter-width-base / 2;
  user-select: none;

  li {
    border-bottom: 1px solid mat-color($mat-grey, 200);
    padding-left: $input-padding-x;

    display: flex;
    align-items: baseline;

    @media #{$lg-breakpoint} {
      &:hover:not(.disabled) {
        background-color: mat-color($mat-grey, 200);
      }
    }

    &.flagged {
      background-color: mat-color($mat-grey, 100);
    }

    .form-control {
      background-color: transparent;
      border-bottom: none;
    }
  }

  li:last-child {
    border-bottom: none;
  }
}

input[name="itemCount"] {
  padding: .25em 0 .25em .25em;
  width: 2em;
}

jgd-item-stack {
  border-radius: 1pt;
  cursor: pointer;
  margin-left: 2px;
  padding: .5em;
  transition: background-color 50ms ease-in-out;
  width: 100%;

  &.disabled {
    cursor: not-allowed;
    opacity: .6;
  }
}

.jgd-pager {
  margin-bottom: 1em;
  margin-right: $grid-gutter-width-base / 2;
}

