@import "../../../../scss/_variables";

div {
  color: mat-color($jgd-mat-error, 900);
  float: left;
}

.badge {
  background-color: mat-color($jgd-mat-primary, 400);
  transition: background-color 50ms ease-in-out;

  &.clickable:hover {
    background-color: mat-color($jgd-mat-primary, 700);
  }

  &.one {
    opacity: .6;
  }

  &.blocked {
    background-color: mat-color($jgd-mat-error, 400);
    margin-right: .5em;
  }
}
