<div [class]="itemStack.shape | lowercase">
    <i *ngIf="!itemStack.isOk()" class="material-icon"
       [title]="itemStack.shape">
        priority_high
    </i>
</div>
<span *ngIf="countStyle === 0">
    {{itemStack.items.size}}x
</span>
<span *ngIf="countStyle === 1" class="tag tag-pill float-xs-right"
      [class.one]="itemStack.availableItemCount === 1"
      [class.clickable]="itemStack.availableItemCount > 1"
      (click)="tagClicked.emit()">
    {{itemStack.availableItemCount}}
</span>
<span *ngIf="countStyle === 1 && itemStack.blockedCount > 0" class="tag tag-pill float-xs-right blocked">
    {{itemStack.blockedCount}}
</span>
<span>
    {{itemStack.type}}
</span>
<span>
    <em>
        ({{itemStack.description}})
    </em>
</span>
