@import "../../node_modules/bootstrap/scss/variables";

// https://material.google.com/style/color.html#color-color-palette

// green
$primary_50: #e8f5e9 !default;
$primary_100: #c8e6c9 !default;
$primary_200: #a5d6a7 !default;
$primary_300: #81c784 !default;
$primary_400: #66bb6a !default;
$primary_500: #4caf50 !default;
$primary_600: #43a047 !default;
$primary_700: #388e3c !default;
$primary_800: #2e7d32 !default;
$primary_900: #1b5e20 !default;
$primary_A100: #b9f6ca !default;
$primary_A200: #69f0ae !default;
$primary_A400: #00e676 !default;
$primary_A700: #00c853 !default;

// orange
$accent_50: #fff3e0 !default;
$accent_100: #ffe0b2 !default;
$accent_200: #ffcc80 !default;
$accent_300: #ffb74d !default;
$accent_400: #ffa726 !default;
$accent_500: #ff9800 !default;
$accent_600: #fb8c00 !default;
$accent_700: #f57c00 !default;
$accent_800: #ef6c00 !default;
$accent_900: #e65100 !default;
$accent_A100: #ffd180 !default;
$accent_A200: #ffab40 !default;
$accent_A400: #ff9100 !default;
$accent_A700: #ff6d00 !default;

$red_50: #ffebee !default;
$red_100: #ffcdd2 !default;
$red_200: #ef9a9a !default;
$red_300: #e57373 !default;
$red_400: #ef5350 !default;
$red_500: #f44336 !default;
$red_600: #e53935 !default;
$red_700: #d32f2f !default;
$red_800: #c62828 !default;
$red_900: #b71c1c !default;
$red_A100: #ff8a80 !default;
$red_A200: #ff5252 !default;
$red_A400: #ff1744 !default;
$red_A700: #d50000 !default;

$blue_50: #e3f2fd !default;
$blue_100: #bbdefb !default;
$blue_200: #90caf9 !default;
$blue_300: #64b5f6 !default;
$blue_400: #42a5f5 !default;
$blue_500: #2196f3 !default;
$blue_600: #1e88e5 !default;
$blue_700: #1976d2 !default;
$blue_800: #1565c0 !default;
$blue_900: #0d47a1 !default;
$blue_A100: #82b1ff !default;
$blue_A200: #448aff !default;
$blue_A400: #2979ff !default;
$blue_A700: #2962ff !default;

@mixin material-shadow($level: 1) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}
