@import "variables";

// https://material.io/icons/
// http://google.github.io/material-design-icons/#icon-font-for-the-web
// https://fonts.googleapis.com/icon?family=Material+Icons

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  transition: color 50ms ease-in-out;
}

/* Rules for sizing the icon. */
.material-icon.md-18 {
  font-size: 18px;
}

.material-icon.md-24 {
  font-size: 24px;
}

.material-icon.md-36 {
  font-size: 36px;
}

.material-icon.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icon.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icon.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icon.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icon.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
