@import "variables";

// FIXME deprecated, replace with material mixins and classes
.btn {
  @include material-shadow(1);
  border: none;
  cursor: pointer;

  transition: all 200ms;

  &:active, &:focus, &:active:focus {
    outline: none;
  }

  &.btn-primary {
    background-color: mat-color($jgd-mat-primary, 700);
    color: white;

    &:active {
      background-color: mat-color($jgd-mat-primary, 900);
    }

    @media #{$lg-breakpoint} {
      &:hover {
        background-color: mat-color($jgd-mat-primary, 800);
      }
    }

    &[disabled] {
      background-color: mat-color($jgd-mat-primary, 700);
    }
  }

  &.btn-accent {
    background-color: mat-color($jgd-mat-accent, 700);
    color: white;

    &:active {
      background-color: mat-color($jgd-mat-accent, 900);
    }

    @media #{$lg-breakpoint} {
      &:hover {
        background-color: mat-color($jgd-mat-accent, 800);
      }
    }

    &[disabled] {
      background-color: mat-color($jgd-mat-accent, 700);
    }
  }

  &.btn-floating {
    @include material-shadow(3);
    border-radius: 100%;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 20px;
    right: .5em;
    transition: all 150ms ease-out;

    @media #{$lg-breakpoint} {
      &:hover {
        @include material-shadow(5);
      }
    }
  }

  &.jgd-btn-flat {
    background-color: transparent;
    box-shadow: none;
    color: black;

    &:focus {
      background-color: mat-color($mat-grey, 100);
    }

    &:active {
      background-color: mat-color($mat-grey, 200);
    }

    @media #{$lg-breakpoint} {
      &:hover {
        background-color: mat-color($mat-grey, 100);
      }
    }
  }
}
